<% include header %>
<br>
<br>
<div class="container">
    <div class="jombotron">
        <h1>Order Placed</h1>
    </div>
        <h4>Orders will be delivered to the Warehouse as soon as possible</h4>
    <hr>
</div>
<% include footer %>
<% include bootstrap-cdn %>
