<% include header %>

<div class="container">
    <h1> Damaged Products details</h1>
</div>


<div class="container">
    <div class="row">
            <% products.forEach(function(dproducts){ %>
        <div class="col-md-9">
                <div class="thumbnail">

                        <div class="caption-full">
                          <h4><a><%= dproducts.dproductname %></a></h4>
                          <h3>Description:<%= dproducts.dproductdescription %></h3>
                          <h3><%= dproducts.ditem %></hr>
                        </div>
                      </div>
        </div>
        <% }) %>
    </div>
</div>


<% include footer %>
<% include bootstrap-cdn %>