<% include header %>

<style>
    form{
        margin-top: 10em;
    }
</style>

<div class="container">
    <form action="/dproducts" method="POST" enctype="multipart/form-data">
        <h1>Damaged Product Details</h1>
        <div class="row">
            <div class="col-lg-4 form-group">
                <label for="dproductname"> Damaged Product Name </label>
                <input type="text" name="dproductname" class="form-control" id="dproductname">
            </div>
        
        </div>

        <div class="form-group">
            <label for="dproductdescription">Product Description</label>
            <input name="dproductdescription" class="form-control" id="dproductdescription">

        </div>

        <div class="form-group">
            <label for="ditem">Number of damaged item </label>
            <input name="ditem" class="form-control" id="ditem">
        </div>
        <br>
        <br>
        <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
</div>





<% include footer %>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>